body{
  background-color: #f9faff;
}
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding-left: 90px;
}
nav div {
  display: flex;
  gap: 60px;
  padding-right: 90px;
  font-size: 14px;
}

.home-page {
  position: relative;
}

.image-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 660px;
  height: 575px;
  overflow: hidden;
  z-index: -1;
}

.home-page-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding-top: 18px;
  text-align: start;
  margin-left: 90px;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  width: 700px;
}
.content-1 {
  color: #fdc435;
  margin-bottom: 0;
}
.content-2 {
  margin-top: 0;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 0;
}
.content-3 {
  margin-top: 10;
  font-size: 24px;
  margin-bottom: 200px;

}
.buttons{
  display: flex;
  margin-top: 10px;
  
}
.B1{
  width: Hug (150px) px;
  width: Hug (150px) px;
  height: Hug (43px) px;
  padding: 8px 24px 8px 24px;
  gap: 0px;
  border-radius: 7px;
  border: 0;
  opacity: 0px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 0;
  font-size: 18px;
  background-color: #fdc435;
}
.B2{
  cursor: pointer;
  width: Hug (150px) px;
  width: Hug (150px) px;
  margin-right: auto;
  margin-left: 20px;
  height: Hug (43px) px;
  padding: 8px 24px 8px 24px;
  gap: 0px;
  border-radius: 7px;
  border: 2;
  opacity: 0px;
  font-weight: 600;
  font-size: 18px;
  background-color: #f9faff;
}
.heading-container {
  display: inline-block;
  position: relative;
  /* margin-top: 200px; */
}

.heading {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  display: inline-block;
}

.underline {
  width: 90px;
  height: 4px;
  background-color: #ffc107;
  /* position: absolute; */
  bottom: -4px;
  left: 10;
  transform: translateX(50%); 
}
.underlineContact {
  width: 90px;
  height: 4px;
  background-color: #ffc107;
  bottom: -4px;
  left: 10;
  transform: translateX(95%); 
}
.underlineAboutPage{
  width: 60px;
  height: 4px;
  background-color: black;
  bottom: -4px;
  left: 10;
  margin-left: auto;
  margin-right: 21.1dvw;
}
.underlineProjectPage{
  width: 60px;
  height: 4px;
  background-color: black;
  bottom: -4px;
  left: 10;
  margin-left: auto;
  margin-right: 13.9dvw;
}
.underlineContactPage{
  width: 60px;
  height: 4px;
  background-color: black;
  bottom: -4px;
  left: 10;
  margin-left: auto;
  margin-right: 5.9dvw;
}
.projects {
  margin-top: 70px;
  display: flex;
  width: 992px;
  height: 524px;
  align-items: center;
  text-align: start;

  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: 0px 6px 64px 50px #7090b01a;
  overflow: hidden;
}
.title {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  margin-left: 88px;
}
.desc {
  padding-top: 18px;
  text-align: start;
  padding-left: 90px;
  padding-right: 90px;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18px;
  width: 320px;
}
.projects img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

button {
  margin-left: 88px;
  width: Hug (150px) px;
  width: Hug (150px) px;
  height: Hug (43px) px;
  padding: 8px 24px 8px 24px;
  gap: 0px;
  border-radius: 24px 24px 24px 24px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  font-weight: 600;
  font-size: 18px;
}

.input {
  width: 30dvw;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #fdc435; */
  text-align: start;
  margin-top: 12dvh;
}

.input p {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
}

.input input,
textarea {
  height: 40px;
  width: 99%;
  border-radius: 8px;
  border-width: 1px;
  border-color: #e8ecf4;
  border-style: solid;
}
.input textarea {
  height: 160px;
}
.input button {
  width: 89px;
  height: 43px;
  padding: 8px 24px 8px 24px;
  border-radius: 8px;
  border-width: 0;
  justify-content: center;
  text-align: center;
  flex: 1;
  background-color: #ffc107;
  margin-top: 20px;
  margin-left: 81%;
}

.socialMediaImages{
  margin-top: 60px;
  width: 192px;
  height: 48px;
}
.name, .email{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  font-weight: 400; 
  /* color: #828282; */
}
.bottomImage{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: -200px;
  z-index: -1;
}
.projectPage{
  position: relative;
}
.space{
  margin-top: 300px;
}
.content-4{
  margin-top: 0;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0;
}
.content-5{
  margin-top: 10;
  font-size: 24px;
  color: #828282;
}
.contents{
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.texts{
  text-align: start;
  padding-left: 12dvh;
  margin-bottom: 180px;
  padding-right: 10dvh;
  margin-top: 120px;
}
.contents img{
  width: 70dvh;
  margin-right: 10dvh;
  margin-top: 4dvh;
}
.aboutPage{
  position: relative;
  /* overflow: auto; */
  
}